**/node_modules/**
node_modules/
.yarn/install-state.gz

.env
.env.*
!.env.example

packages/functions/lib/
packages/functions/serviceAccount.development.json
packages/functions/todo-app-frontend-7ff2-firebase-adminsdk-fbsvc-f976c74b08.json
static/

firebase-debug.log
firebase-debug.log.*
ngrok.log
pubsub-debug.log
*.log

.idea/
.DS_Store

