#**/node_modules/**
node_modules/
.yarn/install-state.gz

.env
.env.*
!.env.example

packages/functions/lib/
packages/functions/serviceAccount.development.json
packages/functions/todo-app-frontend-7ff2-firebase-adminsdk-fbsvc-f976c74b08.json
static/

# firebase-debug.log
# firebase-debug.log.*
ngrok.log
pubsub-debug.log
*.log

.idea/
.DS_Store

STRUCTURE.md
#docs/

.agent/
.claude/
.codex/
.cursor/
.gemini/
.opencode/
.shopify/
.vscode/
.windsurf/
_bmad
.cursorignore
.cursorrules
.firebaserc
.gitattributes
app-name.zip
cloudflared
firebase-debug.log
firestore-debug.log
tunnel.log

docs/
