.Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop {
  border-color: var(--p-color-border-brand, #1983ff) !important;
  background-color: transparent !important;
}

.Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop + .Polaris-Checkbox__Icon {
  color: var(--p-color-icon-brand, #1983ff) !important;
}

.Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop + .Polaris-Checkbox__Icon svg {
  stroke: var(--p-color-icon-brand, #1983ff) !important;
}

.Polaris-Button {
    --pc-button-padding-block: 0.5rem;
    --pc-button-padding-inline: 1.25rem;
    background-color: #008060;
    color: #ffffff;
    border: none;
    --pc-button-box-shadow: none;
}

.Polaris-Button:hover {
    background-color: #00664d;
    color: #ffffff;
}

.Polaris-RangeSlider-SingleThumb__Input {
    --pc-single-thumb-progress-lower: #008060;
    --pc-single-thumb-progress-upper: #cccccc;
    --p-color-bg-fill-brand: #ffffff;
}
.Polaris-RangeSlider-SingleThumb__Input::-webkit-slider-thumb {
    background: #ffffff !important;
    border: 1px solid #cccccc !important;
}

.Polaris-RangeSlider-SingleThumb__Input::-moz-range-thumb {
    background: #098641 !important;
    border: 1px solid #cccccc !important;
}

.Polaris-RangeSlider-SingleThumb__Input:hover::-webkit-slider-thumb {
    background: #ffffff !important;
    border: 1px solid #cccccc !important;
}

.Polaris-RangeSlider-SingleThumb__Input:active::-webkit-slider-thumb {
   background: #ffffff !important;
    border: 1px solid #cccccc !important;
}

.Polaris-Checkbox__Icon.Polaris-Checkbox--animated {
    border-color: #098641 !important;
    box-shadow: none !important;
}

.Polaris-Checkbox__ChoiceLabel .Polaris-Checkbox__Backdrop {
    box-shadow: inset 0 0 0 0.08rem rgba(92, 106, 196, 0.8);
}

.Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop, .Polaris-Checkbox__Input.Polaris-Checkbox__Input--indeterminate + .Polaris-Checkbox__Backdrop {
    box-shadow: inset 0 0 0 var(--p-space-800) rgba(92, 106, 196, 0.8);
}
.Polaris-LegacyTabs__Tab--selected .Polaris-LegacyTabs__Title::before {
    background: #098641;
    width: 55px;
}

.Polaris-LegacyTabs__Title::before {
    left: 8px;
}

.Polaris-Button {
    border-radius: 3px;
    --pc-button-padding-block: 0.6rem;
    --pc-button-padding-inline: 1.12rem
}

.Polaris-LegacyCard {
    border-radius: 3px;
}

.Polaris-RangeSlider-SingleThumb__Suffix > .Polaris-LegacyCard::before {
    border-radius: 3px;
}

.Polaris-InlineStack {
    gap: 0.75rem;
    width: 6rem;
    justify-content: space-evenly;
}

.Polaris-Layout__Section--oneThird .Polaris-LegacyCard::before {
    border-radius: 0 !important;
    border: 999px solid transparent;
}

.Polaris-Layout__Section--oneThird .Polaris-LegacyCard__LastSectionPadding {
    padding-bottom: 100%;
}

.Polaris-LegacyCard__Section Polaris-LegacyCard__FirstSectionPadding Polaris-LegacyCard__LastSectionPadding {
    padding-top: 0px;
}
